/*
.wrapper {
    background-color: #000;
    width: 80%;
}
*/
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #CCC;
    padding: 20px;
}
.text-center {
    text-align: center;
}